<app-navbaroffline *ngIf="!isLoggedin()"></app-navbaroffline>
<app-navbaronline *ngIf="isLoggedin()"></app-navbaronline>


<div *ngIf="loader" class="grid h-screen place-items-center">
    <div class="loader "></div>
</div>



<div class="mt-16 flex flex-col justify-center items-center" *ngIf="!loader">
    <div class="text-6xl lg:text-9xl text-orange-900 font-black font-mono animation">smollu</div>
    <div class="text-base text-orange-900 italic mb-2">url shortener, made easier</div>
    

   
   
<input [(ngModel)]="url" type="text" placeholder="Paste your link here" class="placeholder:uppercase text-center px-3 py-4 text-3xl placeholder-orange-800 text-orange-800 relative bg-orange-600 rounded-3xl border-orange-700 border-0  outline-none focus:outline-none  w-2/4 mt-16"/>
<div *ngFor="let user of users">
<div *ngIf="user.premium ==1" class="text-base text-orange-900 italic mb-2">As you are a premium member, would you like to try the custom link ?
            <a routerLink="" class="font-extrabold">Let's do this !</a>
</div>
</div>

<button *ngIf="url != ''" (click)="smolify()" class=" exampleClass mt-12 bg-orange-800 text-orange-900 hover:text-orange-800 hover:bg-orange-900 text-5xl font-black  px-12 py-6 rounded-3xl">
    <span *ngIf="!loader">
        Smolify
    </span>
    <span *ngIf="loader">
        <div class="loader"></div>
    </span>
</button>

<div *ngIf="isShorten"  class="bg-yellow-100 w-3/4 mt-12 text-center py-6 lg:text-4xl text-xl font-black text-slate-700 rounded-3xl"><a class="exampleClass" href="http://localhost:3001/{{newurl}}" target="_blank">https://smol.lu/<span class="text-slate-700">{{newurl}}</span></a> <br> <span (click)="copyMessage('http://localhost:3001/' + newurl)" class="exampleClass cursor-pointer text-xl text-orange-500 hover:text-orange-600 font-extrabold ">Copy</span></div>

<div *ngFor="let user of users">
<div *ngIf="user.premium == 0" class="mt-12 text-slate-800 text-center">Want more ? <br> Try our <span class="font-bold">premium features</span>  for just 1$/month</div>
</div>


<div class="text-base text-orange-900 absolute bottom-20 " *ngIf="howmanylinks != 0">Already <span class="font-black">{{howmanylinks}}</span> links shortened</div>


</div>


