<div class="mt-16 flex flex-col justify-center items-center">
    <div class="text-6xl lg:text-9xl text-orange-800 font-black">smol.lu</div>
    <div class="text-base text-orange-900">url shortener, made easier</div>

   
<input type="text" placeholder="Paste your link here" class="px-3 py-4 placeholder-slate-800 text-slate-600 relative bg-orange-600 rounded border-orange-700 text-base border-0  outline-none focus:outline-none  w-3/4 mt-16"/>
      

<button class="mt-12 bg-orange-800 text-orange-900 hover:text-orange-800 hover:bg-orange-900 text-5xl font-black  px-12 py-6 rounded-3xl">Smolify</button>

</div>
