<div class="flex flex-row items-center justify-center mt-6"> 
 
    <div class="flex gap-12">
        <a routerLink="/"  class="text-orange-900 hover:text-orange-800 text-xl font-extrabold">Home</a>
        <a routerLink="/mylinks" class="text-orange-900 hover:text-orange-800 text-xl font-extrabold">My links</a> 
        <a routerLink="/profile" class="text-orange-900 hover:text-orange-800 text-xl font-extrabold"><i class="fa-solid fa-user"></i></a> 
        <a (click)="logout()" class="cursor-pointer text-orange-900 hover:text-orange-800 text-xl font-extrabold"><i class="fa-solid fa-door-closed"></i></a> 
    </div>
 </div> 