<app-navbaroffline *ngIf="!isLoggedin()"></app-navbaroffline>
<app-navbaronline *ngIf="isLoggedin()"></app-navbaronline>





<div *ngIf="loader" class="grid h-screen place-items-center">
    <div class="loader "></div>
</div>

<div *ngFor="let user of users">
<section class="mt-12  flex font-medium items-center justify-center">



    <div class="mx-auto my-10 flex max-w-xs flex-col items-center rounded-xl border border-slate-800 dark:border-slate-100 px-4 py-4 text-center md:max-w-lg md:flex-row md:items-start md:text-left">
      
      <div class="">
        <input [(ngModel)]="email" type="text" placeholder="{{user.email}}" class=" text-center px-3 py-4 text-xs placeholder-orange-800 text-orange-800 relative bg-orange-600 rounded-3xl border-orange-700 border-0  outline-none focus:outline-none  w-full mt-2"/>
          
        <p class="mb-4 text-sm font-medium text-orange-500">
          
        <div class="flex space-x-2 justify-center">
            <button routerLink="/profile" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full" >Update <i class="fa-solid fa-check"></i></button>
          
          <!-- Button to update changes -->
            
          <div class=""></div>
        </div>
        <div class="mb-3">
            <hr class="my-6">
          <!-- Button to modify profile centered --> 
          <div class="flex justify-center mt-6">
            <button routerLink="/profile" class="bg-stone-500 hover:bg-stone-600 text-white font-bold py-2 px-4 rounded-full" >Retour au profil</button>
          </div>

        </div>
        
          <a class="group relative inline-block  duration-300 w-full">
          <!-- button to upgrade account -->
           
          
    </a><div class="flex space-x-2">
    
          <!--  <button *ngIf="userid != getSessionInfos()" class="w-full rounded-lg border-2 border-transparent bg-blue-600 px-4 py-2 font-medium text-white opacity-50 cursor-not-allowed">Suivre</button>-->
          
        </div>
        
      </div>
    </div>