<app-navbaroffline *ngIf="!isLoggedin()"></app-navbaroffline>
<app-navbaronline *ngIf="isLoggedin()"></app-navbaronline>



<div *ngIf="loader" class="grid h-screen place-items-center">
    <div class="loader "></div>
</div>
<div *ngIf="!loader">
<div *ngIf="!mylinks?.length" class="text-center mt-32 text-2xl font-bold text-red-900">You never shortened any URL's</div>

<div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-2 my-12 m-12 mt-16 ">
<div *ngFor="let link of mylinks" class="">
    <!-- show old links and short links in cards -->
    <div class="bg-orange-400 rounded-2xl p-6 text-center text-orange-900">
        <span class="italic">{{link.longUrl }}</span>
        <br>
        <span class="text-xl font-bold">https://smol.lu/{{link.shortUrl}}</span>

        <!-- bouton pour supprimer -->
        <div class="flex justify-center mt-4 gap-6">
            <a href="{{link.longUrl}}" target="_blank()" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
                Visit
            </a>

            <button (click)="delete(link._id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
                Delete
            </button>
<!-- date de création -->
            
        </div>
        <div class="text-sm text-gray-600 mt-2">
            <span class="font-bold">Created </span> {{link.date | dateago}}
        </div>
    </div>
    
</div>

</div>

</div>
